<main class="a-container">
	<h1>{{character.name}}</h1>
	<div id="character">
		<div>
			<img id="character-image" src={{imageUrl}} />
		</div>
		<div id="char-info">
			<div class="info">Name: <span class="detail">{{characterData.name}}</span><br></div>
			<div class="info">Age: <span class="detail">{{characterData.age}}</span><br></div>
			<div class="info">Description: <span class="detail">{{characterData.description}}</span><br></div>
		</div>
	</div>
	<p><a href="/">Make another search</a></p>
</main>